a {
	color: rgba(142, 156, 191, 1);
}
a:hover, a:focus, a:active, a.active {
	color: rgba(72, 79, 97, 1);
	text-decoration: none;
}

.text-primary {
	color: rgba(90, 90, 90, 1);
}

.navbar-default .navbar-brand {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
	color: rgba(190, 190, 190, 1);
}
.navbar-default .navbar-brand:hover {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
	color: rgba(90, 90, 90, 1);
}

.portfolio-modal .modal-content p.item-intro {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.font-thin {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
}

.font-semibold {
	font-family: "Titillium Web", sans-serif;
	font-weight: 600;
}

ul.social-buttons li a {
	color: rgba(90, 90, 90, 1);
	background-color: rgba(190, 190, 190, 1);
}
ul.social-buttons li a:hover {
	color: rgba(190, 190, 190, 1);
	background-color: rgba(90, 90, 90, 1);
}

.btn-default, .btn-xl {
	color: rgba(90, 90, 90, 1);
	border-color: rgba(90, 90, 90, 1);
	background-color: rgba(190, 190, 190, 1);
}
.btn-default:hover, .btn-xl:hover {
	color: rgba(190, 190, 190, 1);
	border-color: rgba(60, 60, 60, 1);
	background-color: rgba(90, 90, 90, 1);
}

.navbar-default .navbar-nav>.active>a {
	color: rgba(90, 90, 90, 1);
	border-color: rgba(90, 90, 90, 1);
	background-color: rgba(190, 190, 190, 1);
}
.navbar-default .navbar-nav>.active>a:hover {
	color: rgba(190, 190, 190, 1);
	border-color: rgba(60, 60, 60, 1);
	background-color: rgba(90, 90, 90, 1);	
}

.navbar-default .nav li a {
	font-family: "Source Sans Pro", sans-serif;
	color: rgba(190, 190, 190, 1);
}
.navbar-default .nav li a:hover {
	color: rgba(90, 90, 90, 1);
}

.timeline>li .timeline-image {
	background-color: rgba(90, 90, 90, 1);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
	background: rgba(190, 190, 190, 0.5);
}

.btn-primary {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 700;
	color: rgba(90, 90, 90, 1);
	border-color: rgba(90, 90, 90, 1);
	background-color: rgba(190, 190, 190, 1);
}
.btn-primary:hover {
	color: rgba(190, 190, 190, 1);
	border-color: rgba(60, 60, 60, 1);
	background-color: rgba(90, 90, 90, 1);
}

section h3.section-subheading {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
	margin-bottom: 75px;
	text-transform: none;
	font-size: 16px;
	font-style: italic;
	color: rgba(190, 190, 190, 1);
}

header .intro-text .intro-lead-in {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
	font-size: 40px;
	font-style: italic;
	line-height: 40px;
}

h4.font-semibold {
	color: rgba(190, 190, 190, 1);
}

::selection {
	text-shadow: none;
	background: rgba(138, 152, 189, 1);
}


